.div_left_design {
    flex-grow: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--point-color);
    color: white;
    font-weight: bold;
    font-size: 2em;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

@media screen and (max-width: 650px) {
    .div_left_design {
        font-size: 1.5em;
        width: 100%;
        min-height: 60px;
        border-bottom-left-radius: unset;
        border-top-right-radius: 20px;
    }
}