.div_main {
    height: auto;
    min-height: 100%;
    padding-bottom: var(--footer-height);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* reset */
:root {
    --shadow-color: #e4e4e4;
    --point-color: #c62828;
    --point-hover-color: #c62828cd;
    --footer-height: 90px;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    cursor: default;
    line-height: 1.5;
    overflow-wrap: break-word;
    -moz-tab-size: 4;
    tab-size: 4
}

html,
body {
    height: 100%;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
}

body>div {
    height: 100%;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

button {
    background: none;
    border: 0;
    cursor: pointer;
}

a {
    text-decoration: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

ul {
    list-style: none;
    padding-left: 0px;
}

/* reset */